<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  </head>

  <body>

    <button id ="sign-in" style="display: none; float: right; opacity: 1;"><img alt="Sign in with Persona" src="static/img/persona-login.png"/></button>
    <button id ="sign-out" style="display: none; float: right">Sign out</button>
    <div id="welcome"></div>

    <script src="https://login.persona.org/include.js"></script>
    <script src="static/scripts/persona-example.js"></script>

  </body>

</html>